<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>PostGIS and Rails!</h1>
      <p>Demo app created for Cincy.rb in May 2015. Please see the presentation in the github repo for more info.</p>
    </div>
  </div>
</div>
